<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.IOC配置节点-->
    <section name="sd.ioc" type="SD.IOC.Core.DependencyInjectionSection, SD.IOC.Core" />
  </configSections>

  <!--SD.IOC配置-->
  <sd.ioc>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="InterfaceAssemblyName" lifetimeMode="PerCall" />
    </asInterfaceAssemblies>
    <!--As基类程序集列表-->
    <asBaseAssemblies>
      <assembly name="BaseAssemblyName" lifetimeMode="PerSession" />
    </asBaseAssemblies>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SelfAssemblyName" lifetimeMode="Singleton" />
    </asSelfAssemblies>
    <!--As接口类型列表-->
    <asInterfaceTypes>
      <type name="InterfaceTypeFullName" assembly="InterfaceAssemblyName" lifetimeMode="Singleton" />
    </asInterfaceTypes>
    <!--As基类类型列表-->
    <asBaseTypes>
      <type name="BaseTypeFullName" assembly="BaseAssemblyName" lifetimeMode="Singleton" />
    </asBaseTypes>
    <!--As自身类型列表-->
    <asSelfTypes>
      <type name="SelfTypeFullName" assembly="SelfAssemblyName" lifetimeMode="Singleton" />
    </asSelfTypes>
    <!--WCF接口列表-->
    <wcfInterfaces>
      <assembly name="WcfAssemblyName" />
    </wcfInterfaces>
  </sd.ioc>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.7.0" newVersion="3.1.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>