<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--依赖注入注册配置节点-->
    <section name="injectionRegisterConfiguration" type="SD.IOC.Core.InjectionRegisterConfiguration, SD.IOC.Core" />
  </configSections>

  <!--依赖注入注册配置-->
  <injectionRegisterConfiguration>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.IOC.Integration.WCF.Tests" />
    </asSelfAssemblies>
    <!--WCF接口列表-->
    <wcfInterfaces>
      <assembly name="SD.IOC.StubInterface" />
    </wcfInterfaces>
  </injectionRegisterConfiguration>

  <!--WCF配置-->
  <system.serviceModel>
    <!--WCF服务配置，手动增加service节点-->
    <services>
      <service behaviorConfiguration="DefaultBehavior" name="SD.IOC.Integration.WCF.Tests.Implements.ProductService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2263/Hosts/ProductService.svc" />
            <add baseAddress="net.tcp://localhost:22630/Hosts/ProductService.svc" />
            <add baseAddress="net.pipe://localhost/22630/Hosts/ProductService.svc" />
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="SD.IOC.Integration.WCF.Tests.Interfaces.IProductService" />
        <endpoint binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="SD.IOC.Integration.WCF.Tests.Interfaces.IProductService" />
        <endpoint binding="netNamedPipeBinding" bindingConfiguration="IpcBinding" contract="SD.IOC.Integration.WCF.Tests.Interfaces.IProductService" />
      </service>
    </services>
    <!--WCF客户端配置，手动增加endpoint节点-->
    <client>
      <!--商品管理服务契约配置-->
      <endpoint address="http://localhost:33112/Hosts/ProductContract.svc" binding="wsHttpBinding" bindingConfiguration="WsBinding" contract="SD.IOC.StubInterface.Interfaces.IProductContract" name="SD.IOC.StubInterface.Interfaces.IProductContract" />
    </client>
    <!--WCF行为配置，配置好无需修改-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <!--是否允许get请求访问元数据-->
          <serviceMetadata httpGetEnabled="true" />
          <!--从请求消息头中检索元数据地址信息-->
          <useRequestHeadersForMetadataAddress />
          <!--是否显示异常详细信息-->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!--最大序列化的对象个数-->
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!--依赖注入扩展配置-->
          <injection />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <!--基础绑定配置-->
      <basicHttpBinding>
        <binding name="BasicBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <!--WS绑定配置-->
      <wsHttpBinding>
        <binding name="WsBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
      <!--TCP绑定配置-->
      <netTcpBinding>
        <binding name="TcpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
      <!--IPC绑定配置-->
      <netNamedPipeBinding>
        <binding name="IpcBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <!--WCF扩展配置-->
    <extensions>
      <behaviorExtensions>
        <!--依赖注入扩展配置-->
        <add name="injection" type="SD.IOC.Integration.WCF.IocServiceBehaviorElement, SD.IOC.Integration.WCF" />
      </behaviorExtensions>
    </extensions>
    <!--WCF多协议绑定配置-->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>