<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!--依赖注入提供者配置节点-->
    <section name="injectionProviderConfiguration" type="SD.IOC.Core.Configuration.InjectionProviderConfiguration,SD.IOC.Core" />
    <!--依赖注入注册配置节点-->
    <section name="injectionRegisterConfiguration" type="SD.IOC.Core.Configuration.InjectionRegisterConfiguration,SD.IOC.Core" />
  </configSections>

  <!--依赖注入提供者配置，默认采用Autofac-->
  <injectionProviderConfiguration type="SD.IOC.Core.AutofacProvider.AutofacInstanceResolver" assembly="SD.IOC.Core" />

  <!--依赖注入注册配置-->
  <injectionRegisterConfiguration>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <!--<assembly name="SD.IOC.StubImplement" />-->
    </asInterfaceAssemblies>

    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.IOC.Integration.WCF.Tests" />
    </asSelfAssemblies>

    <!--WCF接口列表-->
    <wcfInterfaces>
      <assembly name="SD.IOC.StubInterface" />
    </wcfInterfaces>
  </injectionRegisterConfiguration>

  <!--WCF配置-->
  <system.serviceModel>
    <!--WCF服务配置，手动增加service节点-->
    <services>
      <service behaviorConfiguration="DefaultBehavior" name="SD.IOC.Integration.WCFTests.Implements.ProductService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="DefaultBinding" contract="SD.IOC.Integration.WCFTests.Interfaces.IProductService" />
      </service>
    </services>
    <!--WCF客户端配置，手动增加endpoint节点-->
    <client>
      <!--商品管理服务契约配置-->
      <endpoint address="http://localhost:33112/Hosts/ProductContract.svc" binding="wsHttpBinding" bindingConfiguration="DefaultBinding" contract="SD.IOC.StubInterface.Interfaces.IProductContract" name="SD.IOC.StubInterface.Interfaces.IProductContract">
      </endpoint>
    </client>
    <!--WCF行为配置，配置好无需修改-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <injection />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <wsHttpBinding>
        <!--默认绑定配置-->
        <binding name="DefaultBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <!--事务绑定配置-->
        <binding name="TransactionBinding" transactionFlow="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
          <reliableSession enabled="true" ordered="true" inactivityTimeout="00:10:00" />
        </binding>
        <!--事务绑定配置（无可靠性会话）-->
        <binding name="NotReliableSessionBinding" transactionFlow="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
          <reliableSession enabled="false" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <!--WCF扩展配置-->
    <extensions>
      <behaviorExtensions>
        <!--依赖注入扩展配置-->
        <add name="injection" type="SD.IOC.Integration.WCF.IocServiceBehaviorElement, SD.IOC.Integration.WCF"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

</configuration>
