<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.IOC配置节点-->
    <section name="sd.ioc" type="SD.IOC.Core.DependencyInjectionSection, SD.IOC.Core" />
    <!--SD.Toolkits.AspNet配置节点-->
    <section name="sd.toolkits.aspNet" type="SD.Toolkits.AspNet.AspNetSection, SD.Toolkits.AspNet" />
    <!--WCF配置节点-->
    <section name="system.serviceModel" type="System.ServiceModel.ServiceModelSection, System.ServiceModel.NetCore" />
  </configSections>

  <!--SD.IOC配置-->
  <sd.ioc>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.IOC.Integration.AspNetCore.Tests" />
    </asSelfAssemblies>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.IOC.Integration.AspNetCore.Tests" />
    </asInterfaceAssemblies>
    <!--WCF接口列表-->
    <wcfInterfaces>
      <assembly name="SD.IOC.StubInterface"/>
    </wcfInterfaces>
  </sd.ioc>

  <!--SD.Toolkits.AspNet配置-->
  <sd.toolkits.aspNet authorized="true">
    <!--Host地址列表-->
    <hosts>
      <host url="http://localhost:33101" />
      <!--<host url="http://192.168.0.146:33101" />-->
    </hosts>
  </sd.toolkits.aspNet>

  <!--WCF配置-->
  <system.serviceModel>
    <!--WCF客户端配置，手动增加endpoint节点-->
    <client>
      <!--商品管理服务契约配置-->
      <endpoint address="http://localhost:3312/Hosts/ProductContract.svc" binding="basicHttpBinding"  contract="SD.IOC.StubInterface.Interfaces.IProductContract" name="SD.IOC.StubInterface.Interfaces.IProductContract"/>
    </client>
  </system.serviceModel>
</configuration>
